  
  .item {
    display: flex;
    align-items: center;
    height: 40px;
  }
  .like {
    background-color: #ff9fa4;
  }
  .delete {
    background-color: #a6e2f5;
  }
  .like-icon {
    height: 100%;
    /* margin-left: 10px; */
    width: 3%;
    margin: 0px 8px -2px -26px;
  }
  
  li {
    margin-top: 10px;
      list-style-type: none;
  }
  